// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
// Andi [11:56 AM] 
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Crushed');

$cursive: 'Crushed', cursive;
$sans: 'ABeeZee', sans-serif;

$yellow: #FEF36E;
$red:#d13030;
$black: #111;
$white: #efefef;
$grey: #3a3a3a;