.ProfileContainer{
    position: relative;
    height: 100%;
    width: 100%;

.Profile{
    text-transform: uppercase;
    font-family: $sans;
    background: $black;
    width: 100%;
    height: 100vh;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;


    .nameContainer{
        width:100%;
        display: flex;
        height: 13%;
        justify-content: center;
        align-items: flex-end;

        .name{
            color: $white;
            font-size: 1.6em;
            position: relative;
            margin-top: 20px;
            font-family: $sans;
            letter-spacing: .2em;
        }

        .editIcon{
            width: 7%;
            margin-left: 10px;
            margin-top: 20px;
            cursor: pointer;

            @media(min-width: 160px){
                width: 1.5em;
            } 
        }
    }

    .nameInputContainer{
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;
        position: relative;

        .nameInput{
            font-size: 1.5rem;
            line-height: 1.2em;
            text: {
                align: center;
                transform: uppercase;
            }
            width: 70%;
            background-color: $grey;
            color: $white;
            border: none;
            letter-spacing: 0.2em;
            &:focus {
                outline: none;
            }
        }

        .addNewNameBtn{
            color: $yellow;
            font-size: 22px;
            position: relative;
            padding-left: 10px;
            background-color: $black;
            border: none;
            letter-spacing: .2em;
            cursor: pointer;
        }
    }

    .imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        .imgPlaceholder{
            width: 9em;
            height: 9em;
            background-color: $white;
            margin-top: 10%;
            position: relative;

            @media(min-width: 800px){
                background-color: $white;
                width: 9em;
                height: 9em;
                margin-top: 5%;
            } 
        }
    }

    .safehavenContainer{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .safeHaven{
            color: $white;
            font-family: $sans;
            letter-spacing: .2em;
        }

        .editIcon{
            width: 7%;
            margin-left: 10px;
            cursor: pointer;
            
            @media(min-width: 160px){
                width: 1.5em;
            } 
        }

        // .changebtn{
        //     color: $yellow;
        //     font-family: $sans;
        //     background-color: $black;
        //     border: none;
        //     letter-spacing: .2em;
        //     cursor: pointer;
        // }
    }

    .safeHavenInput{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .changebtn{
            color: $yellow;
            background-color: $black;
            border: none;
            cursor: pointer;
            font-size: 22px;

        }

        .safeHavenInput{
            font-size: 1rem;
            line-height: 1.2em;
            text: {
                align: center;
                transform: uppercase;
            }
            width: 70%;
            background-color: $grey;
            color: $white;
            border: none;
            letter-spacing: 0.2em;
            &:focus {
                outline: none;
            }
        }
    }

    .navigationBtns{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 60px;
        text-decoration: none;
        cursor:pointer;

        .logOut{
            font-size: 1rem;
            color: $white;
            text: {
                decoration: none;
                transform: uppercase;
                align: center;
            }
            width: 310px;
            margin-top: 10px;
            padding: 10px 7px;
            background-color: $grey;
            border-radius: 10px;
            text-decoration: none;
        }

        .contacts{
            font-size: 1rem;
            color: $black;
            text: {
                decoration: none;
                transform: uppercase;
                align: center;
            }
            &:hover {
                color: $red;
                background-color: $white-translucent;
            }
            width: 310px;
            margin-top: 10px;
            padding: 10px 7px;
            background-color: $yellow;
            border-radius: 10px;
        }

        .deleteBtn{
            
            color: $white;
            font-size: 1rem;
            height: 40px !important;
            cursor: pointer;
            text: {
                decoration: none;
                transform: uppercase;
                align: center;
            }
            &:hover {
                color: $black;
                background-color: $red;
            }
            width: 310px;
            margin-top: 10px;
            padding: 10px 7px;
            background-color: $red;
            border-radius: 10px;
            border: none;
                
        }

    }
        .deleteModal{
            width: 80%;
            background-color: $white;
            border: {
                width: 2px;
                color: $black;
                radius: 10px;
                style: solid;
            }
            height: 70%;
            position: absolute;
            margin-top: -150px;
            animation: slideInLeft 1s;

            .close{
                width: 13px;
                margin: 10px;
                cursor: pointer;
            }
            
            .head{
                letter-spacing: 0.2em;
                width: 97%;
                font-family: $sans;
                text-align: center;
                margin-top: 30px;
            }

            .deleteBtns{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                // height: 90%;
                margin-top: 40px;
                cursor: pointer;

                .no{
                    width: 100%;
                    height: 80px;
                    background-color: $red;
                    font-size: 12px;
                    border: none;
                    letter-spacing: 0.2em;
                    font-family: $sans;
                    color: $white;
                    margin-top: 20px;
                }

                .yes{
                    width: 100%;
                    border-radius: none;
                    height: 70px;
                    background-color: $yellow;
                    font-size: 12px;
                    border: none;
                    letter-spacing: 0.2em;
                    font-family: $sans;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        @keyframes slideInLeft { 
            0% {opacity: 0;} 
            100% {opacity: 1;} 
        } 
}
}