.Profile{
    background: $black;
    width: 100%;
    height: 100vh;

    .nameContainer{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .name{
            color: white;
            font-size: 30px;
            position: relative;
        }

        .editIcon{
            width: 7%;
            margin-left: 4%;
        }
    }

    .imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;

        .imgPlaceholder{
            width: 50%;
            height: 200px;
            background-color: pink;
            margin-top: 15%;
        }
    }
}