@import './../../sass/variables';

#Home{
    background-color: $black;
    height: 100vh;
    width: 100vw;

    .bell{
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .bellIcon{
            margin: 20px;
            position: relative;
            cursor: pointer;
            z-index: 7;
        }
    }

    .navContainer{
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        a {
            color: $white;
            text-decoration: none;
            letter-spacing: 0.2em;
            font-family: $sans;
            &:hover {
                color: $yellow;
            }
        }
    }
}
